body{
    height: 100vh;
}
.game-board{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    height: 50vh;
    width: 50vh;
}
.part{
    border: solid 2px black;
}