body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-board{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    height: 50vh;
    width: 50vh;
}
.part{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    font-size: 3rem;
}
#massage{
    font-size: larger;
}